.hero {
    // border: 2px solid white;
    height: 71vh;
    display: grid;
    grid-template-rows: 4fr 2fr;
    color: white;
    margin: 0 6vw;
    .hero__top {
        // border: 2px solid blue;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 3vh 2vw;
        .hero__topLeft {
            // border: 2px solid red;
            text-shadow: 0px 0px 8px var(--primary-color);
            p {
                font-family: var(--secondary-font);
                color: var(--secondary-color);
                font-size: 1.4vw;
                letter-spacing: 0.1vw;
                margin-bottom: -2vh;
                i {
                    margin-right: 0.5vw;
                }
            }
            h2 {
                font-family: var(--primary-font);
                color: var(--accent-color);
                font-size: 5vw;
                font-weight: 700;
                // letter-spacing: 0.1vw;
                span {
                    text-shadow: 0px 0px 8px var(--primary-color), 0px 0px 120px var(--secondary-color), 0px 0px 220px var(--secondary-color);

                }
            }
            h5 {
                font-family: var(--primary-font);
                color: var(--accent-color);
                font-size: 2vw;
                width: 60%;
                font-weight: 400;
                letter-spacing: 0.05vw;
            }
            .hero__topLeftWork {
                background: rgba(0,0,0,0.5);
                background: linear-gradient(to bottom right, rgba(199, 199, 199, 0.35) 0%, rgba(105, 105, 105, 0.15) 100%);
                padding: 1vh 0.6vw 1vh 1.2vw;
                margin-top: 1.6vw;
                width: 80%;
                border-radius: 2vw;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-family: var(--primary-font);
                font-size: 1.7vw;
                h4 {
                    letter-spacing: 0.03vw;
                }
                // letter-spacing: 0.1vw;
                .hero__topLeftWorkLink {
                    text-decoration: none;
                    justify-self: end;
                    background: var(--secondary-color);
                    color: var(--primary-color);
                    font-family: var(--secondary-font);
                    font-size: 2.2vw;
                    border-radius: 2vw;
                    padding: 0.7vh 1.2vw;
                    text-shadow: none;
                    // letter-spacing: -0.2vw;
                    box-shadow: 0px 0px 8px var(--primary-color), 0px 0px 120px var(--secondary-color), 0px 0px 220px var(--secondary-color);
                    transition: 0.3s all ease-in-out;
                   
                   &:hover {
                        background: var(--primary-color);
                        color: var(--secondary-color);
                   }
                }
            }
        }
        .hero__topRight {
            // border: 2px solid green;
        }
    }
    .hero__bottom {
        display: flex;
        background: rgba(0,0,0,0.5);
        background: linear-gradient(to bottom right, rgba(199, 199, 199, 0.35) 0%, rgba(105, 105, 105, 0.15) 100%);
        width: 90%;
        margin: 0 auto;
        border-radius: 1vw;
        padding: 2vh 3vw;
        .hero__bottomLeft {
            display: grid;
            grid-template-columns: 1fr 3fr 2.5fr;
            align-items: center;
            // text-align: center;
            // justify-content: space-around;
            i {
                // border: 2px solid white;
                color: var(--secondary-color);
                font-size: 1.5vw;
                text-align: center;
                text-shadow: 0px 0px 2px var(--primary-color);

            }
            h4 {
                // border: 2px solid white;
                font-size: 1.8vw;
                font-family: var(--primary-font);
                color: var(--accent-color);
                padding: 0 2vw 0 0;
                text-shadow: 0px 0px 1px var(--primary-color);

            }
            div {
                border: 2px solid var(--accent-color);
                border-radius: 2vw;         
            }
        }
        .hero__bottomRight {
            display: flex;
            align-items: center;
            margin-left: 2vw;
            i {
                margin: 0 1.5vw;
                font-size: 1.7vw;
                border: 2px solid var(--secondary-color);
                padding: 0.4vw;
                background: var(--secondary-color);
                color: var(--primary-color);
                border-radius: 0.3vw;
                cursor: pointer;
            }
        }

    }
}