.workCard {
    border: 2px solid var(--secondary-color);
    width: 23%;
    height: 80%;
    padding-top: 3vh;
    border-radius: 2vw;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom right, rgba(199, 199, 199, 0.35) 0%, rgba(105, 105, 105, 0.15) 100%);
    transition: all 0.8s ease-in-out;
    transition-delay: 0.05s;
    .workCard__top {
        // border: 2px solid blue;
        .workCard__topLogo {
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            .workCard__topLogoDivider {
                border: 3px solid var(--secondary-color);
                width: 25%;
                border-radius: 2vw;
                transition: all 0.5s ease-in-out;
                transition-delay: 0.02s;
            }
            h3 {
                border: 2px solid var(--secondary-color);
                font-family: var(--secondary-font);
                font-size: 6vw;
                padding: 1vh 2vw;
                border-radius: 1.2vw;
                box-shadow: 0px 0px 15px var(--primary-color);
                transition: all 0.8s ease-in-out;
            }
        }
    }
    .workCard__bottom {
        // border: 2px solid white;
        // display: none;
        color: white;
        .workCard__bottomHoverMessage {

        }

        .workCard__bottomInfo {
            opacity: 0;
            .workCard__bottomInfoDescription {

            }
        }

    }
    &:hover {
        // border: 2px solid orange;
        height: 130%;
        .workCard__top {
            .workCard__topLogo {
                .workCard__topLogoDivider {
                    opacity: 0;
                    transform: translateY(-500%);
                }
                h3 {
                    transform: translateY(-60%);

                }
            }
        }
        .workCard__bottom {
            opacity: 1;
            display: flex;
            flex-direction: column;
            .workCard__bottomHoverMessage {
                opacity: 0;
            }
            .workCard__bottomInfo {
                opacity: 1;
            }

        }
    }
}