* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #081316;
  --secondary-color: #4a9878;
  --accent-color: #f6fcfd;

  --primary-font: "PT Sans Narrow", sans-serif;
  --secondary-font: "Bebas Neue", sans-serif;
  --accent-font: "Carattere", sans-serif;
}